﻿@model SimplePerf.Sample.Mvc3.Models.IndexModel
@using SimplePerf.Data
@using SimplePerf.Sample.Mvc3

@helper RenderAggregates(PerfSessionAggregate[] aggregates)
{
    <table>
        
        <tr>
            <th>Count</th>
            <th>Elapsed</th>
            <th>Average</th>
            <th>Median</th>
            <th>Key</th>
        </tr>
    
        @foreach(var sessions in aggregates.OrderByDescending(x => x.Sum))
        {
            <tr>
                <td>@sessions.Count</td>
                <td>@sessions.Sum ms</td>
                <td>@sessions.Average ms</td>
                <td>@sessions.Median ms</td>
                <td><span>@sessions.Key</span></td>
            </tr>
        }

    </table>
}


<h2>Aggregated by path</h2>
@RenderAggregates(Model.PathAggregates)

<h2>Aggregated by extension</h2>
@RenderAggregates(Model.ContentAggregates)

<h2>Aggregated by extension / status code</h2>
@RenderAggregates(Model.ContentStatusAggregates)
    
<h2>Raw Requests</h2>

<table>
    
    <tr>
        <th>Elapsed</th>
        <th>Data</th>
    </tr>

    @foreach(var session in MvcApplication.PerfSessionRepository.GetSessions())
    {
        <tr>
            <td>@session.ElaspedMilliseconds</td>
            <td>@foreach (var pair in session.Information)
                {
                    <span style="font-weight: bold">@pair.Key</span>
                    <span>@pair.Value</span>
                }
            </td>
        </tr>
    }
    
</table>
