﻿@model SimplePerf.Sample.Mvc3.Controllers.VisualizeModel

<h2>Visualize Experiments</h2>

<h3>Summary</h3>

<ul>
    <li>Start: @Model.UtcStarted</li>
    <li>End: @Model.UtcEnd</li>
    <li>Count: @Model.Count</li>
</ul>

<h3>Property counts</h3>

<ul>
    @foreach(var group in Model.PropertyGrouped)
    {
        <li>@group.Key: @group.Count</li>
    }
</ul>

<h3>Property value counts</h3>

<ul>
    @foreach(var group in Model.PropertyValueGrouped)
    {
        <li>@group.Key: @group.Count</li>
    }
</ul>

<h3>Grouped by elapsed</h3>

<ul>
    @foreach(var group in Model.ElapsedGroups)
    {
        <li>@group.Key ms: @group.Count</li>
    }
</ul>

<h3>Grouped by survey</h3>

<ul>
    @foreach(var group in Model.SurveyGroups)
    {
        <li>@group.Key: @group.Count</li>
    }
</ul>

<h3>Grouped by hour</h3>

<ul>
    @foreach(var group in Model.HourGroups)
    {
        <li>@group.Key: @group.Count</li>
    }
</ul>

<h3>Grouped by status</h3>

<ul>
    @foreach(var group in Model.StatusGroups)
    {
        <li>@group.Key: @group.Count</li>
    }
</ul>
